.mat-mdc-header-cell{
    color: #007bff;
    font-weight: bold;
    font-size: 15px;
}

.mat-mdc-row{
    height: 10px;
}

.mat-header-row{
    height: 15px;
}

.mat-elevation-z8{
    height: 100%;
}