<main>
  <div class="header-container">
    <app-header [isJoined]="isJoined" [usernamme]="" (triggerGame)="triggerGame($event)"></app-header>
  </div>
  <div class="main-container" *ngIf="isJoined; else createRoom">
    <div class="left-pane">
      <app-canvas
        [userName]="model.userName"
        [roomId]="model.roomId"
        [isStopped]="isStopped"
      ></app-canvas>
    </div>
    <!-- <div class="right-pane">
      <app-score-board></app-score-board>
    </div> -->
    <div class="right-pane"><app-leader-board [isGameTriggered]="isGameTriggered"></app-leader-board></div>
  </div>
  <!-- <button (click)="openWordPicker()">Open Word Picker</button> -->
  <ng-template #createRoom>
    <app-create-room (outputEmitter)="outputEmitter($event)"></app-create-room>
  </ng-template>
</main>
